@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');


.border{
  min-height: 500px;
background-color: rgb(224, 205, 208);
}
.container1 {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -40px;

}

.ghost {
  width: 40%;
  height: 43%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #5d7575;
  border-bottom: none;
  animation: float 2s ease-out infinite;
}

.ghost-copy {
  width: 40%;
  height: 43%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background:#EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: float 2s ease-out infinite;
  z-index: 0;
}


.face {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}
.eye, .eye-right {
  position: absolute;
  background: #1a1b1b;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.eye {
  left: 25%;
}
.eye-right {
  right: 25%;
}

.mouth {
  position:absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #585959 #585959 transparent;
  transform: rotate(45deg);
}

.one, .two, .three, .four {
  position: absolute;
  background:#EDEDED;
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid #343535;
  z-index: 0;
}

.one {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.two {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.three {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.four {
  left: 74.5%;
  border-radius: 0 0 30% 100%;
}

.shadow {
  position: absolute;
  width: 30%;
  height: 7%;
  background: #7f8585;
  left: 35%;
  top: 80%;
  border-radius: 50%;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  50% {
     transform: translateY(15px);
  }
}



/*text styling*/
.containerPrincipal h1 {
  font-family: 'Abril Fatface', serif;
  color:rgb(173, 35, 35);
  text-align: center;
  font-size: 9em;
  margin: 0;
  text-shadow: -1px 0 #BFC0C0, 0 1px #BFC0C0, 1px 0 #BFC0C0, 0 -1px #BFC0C0;
}
.containerPrincipal h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.562);
  margin-top: -20px;
  font-weight: 900;
}
.containerPrincipal p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #585959;
  font-size: 20px;
  margin-top: -20px;
  text-transform: uppercase;
}


.link{
    text-align: center;
    
}

.containerPrincipal a{
  font-size: 20px;
}

.containerPrincipal a:hover{
  text-decoration: none;
  background-color: blue;
  color:white;
  padding: 6px;
  border-radius: 5px;
}