.container{
    background-color: #b2ebf2;
    padding-bottom: 15px;
    padding-top: 15px;
  
}
.contenidoLogin{
    margin-top: 8%;
}
.contenidoLogin p{
    background-color: white;
    font-size: 15px;
    text-align: center;

}
.contenidoLogin h3{
    background-color: tomato;
    color:white;
}
.contenidoLogin .verde{
    background-color: rgb(80, 175, 80);
    color: white;
    font-size: 18px;
}
.contenidoLogin .rojo{
  background-color: #f05545;
  color: white;
}
.contenidoLogin .letra{
    color:#1a237e;
    font-weight: bold;
}